.con2{
    height: 600px;
    width: 105%;
    background-color: rgb(247, 247, 247);
}

.con3{
    height: 450px;
    width: 450px;
    padding-top: 60px;
    margin-left: 400px;
        
}
.nike_logo{
    height: 20px;
    width: 56px;
}

.con3 p{
    font-size: 34px;
    font-family: Arial;
    font-weight: 400;
}

.con3 h5{
    font-size: 15px;
    font-family:Segoe UI;
    font-weight: 100;
}

.con3 h4{
    font-family: Arial;
    margin-top: 40px;
    font-weight: 300;
    color: rgb(173, 171, 171);
}

.con3 .email{
    height: 50px;
    width: 430px;
    border: 1px solid black;
    border-radius: 5px;
}

.con3 .email span{
    font-size: 20px;
    font-family:Segoe UI;
    font-weight: 300;
    color: rgb(58, 56, 56);
}

.con3 h2{
   display: flex;
   align-items: center;
   padding-left: 10px;
}

.con3 .button{
    height: 40px;
    width: 110px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-left: 325px;
    margin-top: 60px;
}

.con3 .button:hover{

    color: black;
    background-color: rgb(255, 255, 255);
}

